<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>My CRUD in NodeJS</title>
</head>
<body>

<h2>Registros<h2>
    <table border="1">
        <thead>
            <tr>
                <td>Nome</td>
                <td>Sobrenome</td>
            </tr>
        </thead>
        <tbody>
        <% data.forEach(function(details) { %>
         
            <form action="/edit/<%=details._id %>" method="POST">
            <input type="text" value="<%=details.name %>" name="name">
            <input type="text" value="<%=details.surname %>" name="surname">
            <br/>
            <button type="submit">Editar</button>
            </form>

            
        <% }) %>
        </tbody>
        <button><a href="/">Voltar</a></button>
</body>
</html>